span .italic {
    font-style: italic; !important;
}

span .s {
    text-transform: lowercase; !important;
}


#labeledForce svg {
    margin-top: -.5em;
}

#labeledForce .link {
    stroke: #ccc;
}

#labeledForce .node text {
    pointer-events: none;
    font: 20px sans-serif;
}

#onto .node {
    stroke: #fff;
    stroke-width: 1.5px;
}

#onto .link {
    fill: none;
    stroke: #bbb;
}

#stickyforce svg {
    margin-top: -1.5em;
}

#stickyforce .link {
    stroke: #000;
    stroke-width: 1.5px;
}

#stickyforce .node {
    cursor: move;
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}

#stickyforce .node.fixed {
    fill: #f00;
}

#entry svg {
    margin-top: -6.5em;
}

#entry .link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

#entry .node ellipse, circle {
    fill: #ccc;
    stroke: #fff;
    cursor: pointer;
    stroke-width: 1.5px;
}

#entry .node text {
    font: 12px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}

#bubble text {
    font: inherit;
    font-size: .4em;
}

#bubble svg {
    position: fixed;
    top: -12em;
    left: 0;
}

#diffLangs {
    position: fixed;
    top: -4.75em;
    left: -6em;
}

#diffLangs2 {
    position: fixed;
    top: -3.75em;
    left: -6em;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal section img.db {
    padding-left: 1em;
}

.api {
    color: white;

}

.api span {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: .5em;
    padding: .5em 2em .5em 2em;
    border-radius: 4px;
    margin-left: .25em;
    margin-right: .25em;
}

#get {
    background-color: #0f6ab4;
}

#post {
    background-color: #10a54a;
}

#put {
    background-color: #c5862b;
}

#delete {
    background-color: #a41e22;
}

#difficult {
    font-family: 'Abril Fatface', cursive;
}